.common {
  --back: #fff;
  --filter-header: #9e9393;
  --text: #000;
  --text-link: #000;
  --btn-filter: #01b4e4;
  --btn-filter-hover: #032541;
  --no-image-icon: #01b4e4;
  --clic: rgba(255, 255, 0, 0);
  --clic-sec: rgba(255, 255, 0, 0);
  --image-grayscale: 0;
}
.high-contrast {
  --back: #000;
  --filter-header: #fff;
  --text: #fff;
  --text-link: #ff0;
  --btn-filter: #000;
  --btn-filter-hover: #000;
  --no-image-icon: #fff;
  --clic: #ff0;
  --clic-sec: rgb(179, 179, 0);
  --image-grayscale: 100;
}

html,
body {
  background-color: var(--back);
  margin: 0;
  height: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

header {
  height: 60px;
  background-color: blue;
}

main {
  width: 100%;
  height: auto;
}

.main-wrapper {
  display: flex;
  flex-direction: row;
  padding: 10px 40px 10px 40px;
}

.content {
  flex-basis: 0;
  flex-grow: 1;
}

.content-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px 0px 10px 0px;
  border-bottom: 1px solid var(--filter-header);
  padding: 6px 10px;
}

.content-header span {
  color: var(--text);
  font-size: 14px;
}

.content-header select {
  background-color: var(--clic);
  padding: 5px 20px;
  border-radius: 8px;
}

.content-results-container {
  display: flex;
  flex-wrap: wrap;
}

.content-results {
  width: 47%;
  margin-right: 20px;
}

.content-results + .content-results {
  margin-left: inherit;
}

.result-container {
  box-shadow: 2px 2px 2px 2px #c2c2c255;
  border: 0.5px solid #c2c2c255;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  overflow: hidden;
  height: 165px;
}

.result-photo {
  height: 165px;
  width: 110px;
  border-radius: 10px 0 0 10px;
  display: flex;
  align-items: center;
}


.result-photo img {
  height: 165px;
  width: 110px;
  border-radius: 10px 0 0 10px;
  object-fit: cover;
  filter: grayscale(var(--image-grayscale));
}

.result-photo .no-image {
  color: var(--no-image-icon);
  font-size: 5em;
  margin-left: 30px;
}

.result-content {
  margin-left: 20px;
  padding: 20px 10px 5px 10px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.result-content h3 {
  color: var(--text-link);
  font-weight: 800;
  margin: 0;
}

.result-content a {
  text-decoration-line: none;
}

.result-content span {
  color: #a2a2a2;
  font-weight: 400;
  font-size: 14px;
}

.result-content p {
  color: var(--text);
  font-weight: 400;
  font-size: 16px;
}

.content-pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content-pagination a {
  color: var(--text-link);
  font-size: 16px;
  font-weight: 700;
  margin: 0px 8px 0px 8px;
  text-decoration-line: none;
}

.content-pagination a:hover {
  cursor: pointer;
}

.content-pagination .current {
  border: 1px solid var(--text);
  padding: 0px 4px 0px 4px;
}

footer {
  height: 100px;
  background-color: blue;
}
