.common {
  --black-white: #000;
  --white-black: #fff;
  --gray-white: #777777;
  --blue-white: #7d77af;
  --back-image: url("/images/7.jpg");
  --back-gradiente: linear-gradient(
      180deg,
      #efefef 180px,
      #cec9c9 100%
  );
  --btn-submit: #38afc3;
  --hover-btn: #176d89;
  --green-white: #2b828e;
  --text-link: royalblue;
  --clic: rgba(255, 255, 0, 0);
  --clic-sec: rgba(255, 255, 0, 0);
  --error: #f00;
  --s-bar-input-text: rgba(255, 255, 255, 0.863);
}
.high-contrast {
  --black-white: #fff;
  --white-black: #000;
  --gray-white: #fff;
  --blue-white: #fff;
  --back-image: #000;
  --back-gradiente: #000;
  --btn-submit: #000;
  --hover-btn: #ff0;
  --green-white: #fff;
  --text-link: #ff0;
  --clic: #ff0;
  --clic-sec: rgb(179, 179, 0);
  --error: #f00;
}

main {
  width: 100%;
  height: auto;
}
.title {
  align-items: flex-start;
  align-content: flex-start;
  margin: 0em 2em 0em 2em;
  padding: 3em 3em 3em 3em; 
}
.title h2 {
  color: var(--gray-white);
  font-size: 3em;
  font-weight: bold;
}
.title h3 {
  color: var(--blue-white);
  font-size: 2em;
  font-weight: bold;
}
.content-wrapper {
  background-image: var(--back-image);
  background-size: cover;
  border-radius: 30px 30px 30px 30px;
  margin: 3em 0em 3em 0em;
}

.content {
  background-image: var(--back-gradiente);
  padding: 30px 60px 30px 60px;
  flex-direction: row;
  border-radius: 30px 30px 30px 30px;
}

.search {
  text-align: center;
  margin: 0em 0em 0em 0em;
  padding: 0em 0em 1em 0em;  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.search span {
  font-size: smaller;
  font-weight: 400;
  color: #fff;
}
.search span a {
  font-size: 1em;
  font-weight: 400;
  color: #fff;
  text-decoration:none;
}
.search span a:hover {
  color: var(--text-link);
  text-decoration: underline;
}
.s-bar {
  width: 80%;
  background:var(--white-black);
  border-radius: 50px;
  border: #fff 2px solid;
}
.s-bar span {
  font-size: small;
  color: white;
}
.s-bar input[type="text"] {
  font-size: 1em;
  font-weight: 600;
  color: var(--green-white);
  padding: 1.5em 1em 1.3em 1.5em;
  width: 74%;
  border-radius: 50px 0 0 50px;
  background: var(--s-bar-input-text);
  border: none;
  outline: none;
  float: left;
}
.s-bar input[type="submit"]{
  font-size: 1em;
  font-weight: 600;
  color: #fff;
  padding: 1.3em 0.5em;
  width: 22%;
  text-align: center;
  border-radius: 50px 50px 50px 50px;
  margin: 0px 0px 0px -40px;
  background: var(--btn-submit);
  cursor:pointer;
  border: none;
  outline: none;
  border: 4px solid var(--clic);
  float: right;
} 

.s-bar input[type="submit"]:hover{
  background: var(--hover-btn);
  color: var(--white-black);
  border: 4px solid var(--clic-sec);
  transition: all 0.3s ease;
}